
{% extends 'emails/template.html.twig' %}

{% block content %}
    <p>You asked for reset your password</p>

    <a class="btn btn-primary"
       href="{{ fontUrl }}/change-password/{{ user.resetPasswordUuid }}">
        Change your password
    </a>
    <br>
    <small>
        Or copy this link into your favorite browser:
        <br>
        {{ fontUrl }}/change-password/{{ user.resetPasswordUuid }}
    </small>
{% endblock %}