
{% apply inline_css %}
    <style>
        {# here, define your CSS styles as usual #}
        h1 {
            color: #ffffff;
            font-size: 20px;
        }

        .container {
            max-width: 600px;
            margin: auto;
            text-align: center;
            border: 1px solid #0B7FC7;
        }

        .header {
            background-color: #0B7FC7;
            padding: 10px;
        }

        .btn {
            text-decoration: none;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .btn-primary {
            color: #fff;
            background-color: #0B7FC7;
            border-color: #0B7FC7;
        }
    </style>

    <div class="container">
        <div class="header">
            <h1>Welcome {{ client.firstname|capitalize }} !</h1>
        </div>

        <div>
            {% block content %}{% endblock %}
        </div>
    </div>
{% endapply %}